# Enforce Unix newlines
* text=auto eol=lf

# Don't diff or textually merge source maps
*.map binary

# Skip archive
archive/* linguist-detectable=false

# Skip data files
**/data/* linguist-detectable=false
